* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  min-width: 1440px;
}
/* debug */
.debug header {
  background-color: lightgray;
  height: 200px;
}
.debug .left_menu {
  background-color: lightgreen;
  height: 200px;
}
.debug .right_menu {
  background-color: lightpink;
  height: 200px;
}
.debug .jumbo {
  height: 500px;
  background-color: #b4d0e7;
}
.debug .title {
  height: 500px;
  background-color: darkslategray;
}
.debug .business {
  height: 800px;
  background-color: lightseagreen;
}
.debug .piano {
  height: 800px;
  background-color: bisque;
}
.debug .professional,
.debug .standard,
.debug .advanced {
  height: 600px;
  background-color: navy;
}
.debug .enterprise {
  height: 200px;
  background-color: olive;
}
.debug .partner {
  height: 400px;
  background-color: deepskyblue;
}
.debug .solution {
  height: 400px;
  background-color: darkturquoise;
}
.debug .img_1 {
  height: 400px;
  background-color: blueviolet;
}
.debug .partner_title {
  height: 400px;
  background-color: darkmagenta;
}
.debug .strumenti {
  height: 500px;
  background-color: darkorange;
}
.debug .clienti {
  height: 200px;
  background-color: darkred;
}
.debug .designit {
  height: 450px;
  background-color: grey;
}
.debug .azienda {
  height: 200px;
  background-color: #b4d0e7;
}
.debug .title_azienda {
  height: 200px;
  background-color: hotpink;
}
.debug .btn_prova {
  height: 200px;
  background-color: indianred;
}
.debug .domande {
  height: 550px;
  background-color: lavender;
}
.debug footer {
  height: 600px;
  background-color: #000000;
}
.debug .dropbox {
  height: 500px;
  background-color: mediumpurple;
}
.debug .language {
  height: 100px;
  background-color: mistyrose;
}
/* utility */
section {
  margin-top: 200px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container_large {
  width: 85%;
  margin: auto;
}
.container_small {
  width: 70%;
  margin: auto;
}
.f_left {
  float: left;
}
.col_20 {
  float: left;
  width: 20%;
}
.col_30 {
  float: left;
  width: 30%;
}
.col_33 {
  float: left;
  width: 33.33%;
}
.col_40 {
  float: left;
  width: 40%;
}
.bg_blue {
  background-color: #b4d0e7;
}
.btn_primary {
  background-color: #0061ff;
  padding: 0.4rem 1rem;
  border: none;
}
.btn_light {
  background-color: white;
  padding: 0.4rem 1rem;
  border: 1px solid black;
}
.btn_light a {
  text-decoration: none;
  color: black;
}
.pad_com {
  padding: 2rem;
}
.pad_tb {
  padding: 2rem 0 5rem;
}
.pad_bt {
  padding: 1rem 0 2rem;
}
.pad_bt::before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: red;
}
.pad_top_tre {
  padding-top: 3rem;
}
.pad_bot_due {
  padding-bottom: 2rem;
}
.pad_bot_zero {
  padding-bottom: 0rem;
}
.top {
  vertical-align: top;
}
.funzioni {
  display: inline-block;
  width: 90%;
  padding: 0;
}
.img_w100 {
  width: 100%;
}
.mdx_sx {
  margin: 0 5%;
}
.title_h2 {
  font-size: 2.5rem;
  padding-bottom: 3rem;
}
.color_text {
  color: #0c68ff;
}
.w25 {
  width: 25%;
}
.w60 {
  width: 60%;
}
.colors {
  height: 300px;
  width: 300px;
  background-color: green;
  position: relative;
}
/******************
 header 
 *****************/
.site_header {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.left_menu,
.right_menu {
  float: left;
  width: 50%;
}
.logo {
  vertical-align: middle;
  padding-right: 2rem;
}
.site_header ul {
  display: inline;
  vertical-align: middle;
}
.site_header li {
  display: inline-block;
  list-style: none;
  padding-right: 2rem;
}
.site_header li a {
  text-decoration: none;
  color: black;
}
.right_menu {
  padding-right: 2rem;
  text-align: right;
}
.left_menu {
  padding-left: 2rem;
}
.btn_primary a {
  color: white;
  text-decoration: none;
}

/*****************
 main 
 ****************/
.site_main {
  margin-top: 100px;
}
/* jumbo */
.title > h1 {
  font-size: 5rem;
}
.title {
  padding: 5rem 1rem 10rem;
}
.container {
  margin-top: 3rem;
  position: relative;
}
.posto {
  padding-right: 2rem;
}
.button_prova {
  margin: 2rem 0 1rem;
}
.button_prova a {
  font-size: 0.9rem;
}
.arrow_down .fas {
  font-size: 3rem;
  padding: 3rem 0;
}
.proposta {
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
}
.radio_mensile,
.radio_annuale {
  display: inline-block;
  position: relative;
  padding-right: 1rem;
}
/* business */
.radio_mensile li,
.radio_annuale li {
  list-style: none;
  padding-left: 1.5rem;
}
.fattura,
.annuale {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.fattura {
  border: 5px solid #0061ff;
}
.annuale {
  border: 1px solid #ebebec;
}
.group {
  border: 1px solid #ebebec;
  text-align: center;
  padding: 0.5rem;
}
.group h4 {
  font-weight: normal;
}
.info_prof {
  min-height: 1100px;
}
.info_prof h3 {
  font-size: 1.5rem;
  font-weight: 800;
}
.info_prof.pad_com,
.vendite.pad_com {
  border-top: none;
}
.info_prof,
.vendite {
  border: 1px solid #ebebec;
}
.info_prof li {
  list-style: none;
  padding: 0 0 2rem;
}
.info_prof h4 {
  padding: 3rem 0rem 1rem;
  font-weight: 800;
}
li.prezzo {
  padding: 1rem 0;
  font-weight: 600;
}
li.mese {
  padding-bottom: 3rem;
  color: #7e8b96;
}
.button_giorni {
  width: 100%;
  margin: 2rem 0;
}
.oppure {
  display: inline-block;
  border-bottom: 1px solid #ebebec;
  padding-bottom: 2rem;
}
i.fas.fa-check,
.acquista {
  color: #0967ff;
}
.standard {
  margin: 0 5%;
}
.enterprise {
  margin: 3rem 0 5rem;
}
.vendite {
  position: relative;
}
.vendite h4 {
  padding: 1rem 0 2rem;
}
.button_ufficio {
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 0.5rem 5rem;
}
/* partner */
.img_1 {
  width: 60%;
}
.partner_title {
  width: 40%;
}
.contatto {
  padding: 3rem;
}
.contatto h3,
.quotidiano h3 {
  font-size: 1.5rem;
  font-weight: 800;
}
.contatto p {
  padding: 1rem 0;
}
section.team,
section.questions {
  margin-top: 150px;
}
/* team */
.clienti {
  padding-bottom: 3rem;
}
.square {
  height: 200px;
  width: 200px;
  position: relative;
}
.designit {
  background-color: #a2d39b;
  border: 10px solid #d0e9cd;
}
.arizona {
  background-color: #61082b;
}
.florida {
  background-color: #0093ce;
}
.topps {
  background-color: #ff1c1c;
}
.relief {
  background-color: #d5001f;
}
.hearst {
  background-color: #b4d0e7;
}
.planet {
  background-color: #0d2481;
}
.channel {
  background-color: #ffd830;
}
.row {
  background-color: #f5f5f5;
}
.loghi {
  width: 400px;
  float: left;
}
.text_designit {
  width: calc(100% - 800px);
  float: left;
  padding: 3rem;
}
.designid_logo {
  height: 50px;
}
.termine {
  padding-bottom: 3rem;
}
.termine::before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #e4e4e6;
  margin: 2rem 0;
}
.white_logo {
  width: 100%;
  display: block;
  padding: 2rem;
  filter: invert(1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.designit,
.arizona,
.florida,
.topps,
.relief,
.hearst,
.planet,
.channel {
  float: left;
}
.azienda {
  background-color: #b4d0e7;
  padding: 5rem 0;
}
.title_azienda .title_h2 {
  color: #61082b;
}
.prova_gratuita {
  position: relative;
}
.btn_prova {
  position: absolute;
  top: 0;
  right: 0;
}
.free {
  padding: 0.5rem 5rem;
  border: none;
  background-color: white;
}
.free a {
  text-decoration: none;
  color: #1d1d1d;
  font-weight: 600;
}
/* questions */
.domande p,
.risposta {
  display: inline-block;
}
.borders {
  border-top: 1px solid #ebebec;
}
.borders.last {
  border-bottom: 1px solid #ebebec;
}
.domande p {
  padding: 2rem 0;
  font-weight: 600;
  width: 95%;
}
/*****************
 footer
 ****************/
footer {
  background-color: black;
  padding: 3rem;
  margin-top: 200px;
}
footer h4 {
  color: white;
  padding-bottom: 2rem;
}
footer ul {
  list-style-type: none;
  color: white;
}
footer li {
  padding-bottom: 0.5rem;
}
.languages {
  color: #737373;
}
.language {
  display: inline-block;
  border-top: 1px solid #b8b8b8;
  padding-top: 2rem;
}
.dropbox {
  padding-bottom: 5rem;
}
